* {
    margin: 0;
    padding: 0;
   
}

body {
    width: 100%;
    height: 100%;
}

.book-header {
    height: 50px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    
}
.book-bar {
    background-color: lightblue;
    display: flex;
    position: absolute;
    right: 70px;
    top: 10px;

    background-color: transparent;
    align-items: center;
    border: none;
    padding-left: 24px;
    font-weight: bold;
  
}
.book-search-bar {
    width: 350px;
    height: 30px;
}
.book-bar button {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    padding-left: 24px;
    font-weight: bold;
    cursor: pointer;

}
.fa-solid {
   width: 20px;
   height: 10px;
}

.cart-link {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    position: absolute;
    right: -60px;
  }
  
  .cart-icon {
    width: 40px;
  }
  
  .cart-text {
    margin-top: 12px;
    font-size: 15px;
    font-weight: 700;
  }
  
  .cart-quantity {
    color: rgb(240, 136, 4);
    font-size: 16px;
    font-weight: 700;
  
    position: absolute;
    top: 1px;
    left: 12px;
    
    width: 26px;
    text-align: center;
  }
  


.bss {
   
    width: 100%;
    height: 600px;
    background: rgb(0,1,9);
    background: linear-gradient(2deg, rgba(0,1,9,1) 10%, rgba(186,6,153,1) 95%, rgba(254,7,242,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
}
.bc {
    width: 100%;
    height: 470px;
    align-items: center;
    text-align: center;
    position: relative;
    padding-left: 30px;
}

.bt {
    width: 220px;
    height: 330px;
}

.ab {
    background-color: white;
    color: rgb(179, 167, 167);
    width: 100px;
    height: 30px;
    border-radius: 50px;
    position: absolute;
    bottom: 10px;
    left: 100px;   
    cursor: pointer;
}

.ab:hover {
    background-color: rgb(117, 248, 117);
}

.bif {
    opacity: 0.7;
    color: white;
}

.price {
    font-weight: bolder;
    font-size: 25px;
    color: white;
}
.ap {
    opacity: 0.5;
    text-decoration: line-through;
    padding-left: 10px;
    font-size: 25px;
    color: white;
}

.dt {
    position:  absolute;
    background: white;
    padding: 5px;
    border-radius: 5px;
    color: rgb(0, 136, 136);
    right: 5px;
    top: 45px;
    text-transform: capitalize;
}

