* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden; 
}

.header {
    background-color: #000000;
    text-align: right;
    position: relative;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.header ul {
    position: relative; 
}

.header li {
    padding-right: 30px;
    margin-top: 15px;
    cursor: pointer;   
    color: rgb(255, 255, 255);
   
}

.header li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #04f7e2;
    display: block;
    margin: auto;
    transition: 0.2s;
}

.header li:hover::after {
    width: 100%;
}

.header li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

nav {
    height: 50px;
    width: 100vw;
}

nav li { 
    display: inline-block;
}



