* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden; 
}

.intro {
    position: absolute;
    top: 5%;
    left: 5%;
}

.intro h1 {
    font-size: 80px;
}

.intro p {
    padding-bottom: 50px;
    font-size: 25px;
}
.pro-pic {
    position: absolute;
    width: 400px;
    border-radius: 100px;
    height: 400px;
}

.intro span {
    color: red;
}













@media (max-width: 900px) {
    .intro h1 {
        font-size: 40px;
    }

    .intro p {
        font-size: 18px;
    }
}

