* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden; 
}

.middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90vh;
    position: relative;
}

.info-block {
    background-color: rgb(255, 255, 255);
}

.pro-block {
    background-color: #e0e0e0;
    position: relative;
    text-align: center;
    align-items: center;
}

.footer {
    background-color: black;
    color: white;
    height: 100vh;
    position: relative;
  
}