.checkout-area {
  margin-top: 10px;
  position: relative;
  display: grid;
  row-gap: 50px;
}

.book-card {
  width: 350px;
  height: 300px;
 
  position: relative;
  padding-left: 10px;
  padding-top: 40px;
  left: 100px;
  border: 1px solid rgb(221, 198, 198);
}

.book-image {
  display: inline-block;
  padding-right: 20px;

}
.book-img {
  width: 150px;
  display: inline-block;
}

.book-details {
  display: inline-block;
  position: absolute;
  top: 40px;
  
}

.item-quantity {
  display: inline-block;
  position: absolute;
  top: 150px;
}

